<%- include('includes/header') %>




<h1>Lista de Alunos</h1>

<div class="students-card">
  <p>Nome:</p>
  <p>Idade:</p>
  <p>Endereço:</p>
  <p>Telefone:</p>
  <p>Data de vencimento:</p>
  Pago:<input type="checkbox">
</div>












<%- include('includes/footer') %>
