<%- include('includes/header') %>


<div class="content">
  <h1 class="title">Crie sua conta</h1>
  
  <%- include('includes/messages') %>

  <div class="form-container">
    <form method="POST" action="/auth/register">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <label for="email">E-mail:</label>
      <input type="text" name="email"/>

      <label for="password">Senha:</label>
      <input type="password" name="password"/>

      <a
      class="green-anchor" 
      href="/auth/login">Já sou cadastrado</a
      >

      <button 
      class="btn btn-success"
      type="submit">Registrar</button>
    </form>
  </div>
</div>

























<%- include('includes/footer') %>
